<body>

	<div class ="navigation">
		<a href="#about">About me</a>
		<a href="#portfolio">Portfolio</a>
		<a href="#cv">CV</a>
	</div>
<div style="background-image:url(kuvat/Hexagons.jpg)">

				<div id = "about">
					  <center><img src="kuvat/nuppu.png" alt="explore" class="imageFront"></center>
				<h1> Pepita Kautto </h1>
				<p>
					IT-Business student with a strong visual background.
					<br>pepita.kautto@gmail.com -
				<i> <a href="http://www.linkedin.com/in/pepita-kautto"> My LinkedIn profile! </a></p>
				<br> </i>
				<br>

			 </p>
			</div>
	</div>

<div id = "portfolio">
	<h1> Portfolio </h1>
<p>  </p>
</div>

<center>
<table>
	<tr>
	      <td>
	    	<h2>Guess the Title!</h2>
	    	<br>
	    	<br>	<br>Web app made with react, where you can guess the title of a space themed picture! The app is running <a href="http://pepita.herokuapp.com/">here!</a>
	    </td>
	    <td>
	    	<center><img src="kuvat/nasa.jpg" alt="Guess the title" class="imageTable"></center>
	    </td>
	</tr>
  <tr>
    <td width="50%">  <center><img src="kuvat/explore1.jpg" alt="explore" class="imageTable"></center></td>
    <td>
    	<h2>eXplore visuals</h2>
    	<br> Visuals for example application called eXplore.
    	<br> Made with Sketch, 2018. <br>
    	<br> <a href="#explore">Read more!</a>
    </td>
  </tr>
  <tr>
    <td>
    	<h2>Workout generator</h2>
    	<br>Javascript project. Made using JavaScript, HTML and CSS, 2017.
    	<br>	<br> <a href="#jumppa">Read more!</a>
    </td>
    <td>
    	<center><img src="kuvat/jumppa1.jpg" alt="jumppa" class="imageTable"></center>
    </td>
  </tr>


    <tr>
    <td>  <center><img src="kuvat/nettisivu1.jpg" alt="Front-End" class="imageTable"></center></td>
    <td>
    	<h2>Front-End Web Development</h2>
    	<br>
    	<br>
    	<br> <a href="#webdesign">Read more!</a>
    </td>
  </tr>


  <tr>
      <td>
    	<h2>Back-End Development</h2>
    	<br> What comes to back-end, I have only worked with PHP and SQL.
    	<br>
    </td>
    <td>
    	<center><img src="kuvat/phpsql.jpg" alt="BackEnd" class="imageTable"></center>
    </td>
</tr>



<tr>
      <td>
    	<h2>Photography</h2>
    	<br>
    	<br>	<br> <a href="#photo">Read more!</a>
    </td>
    <td>
    	<center><img src="kuvat/photo.jpg" alt="Photography" class="imageTable"></center>
    </td>
</tr>





    <tr>
    <td>  <center><img src="kuvat/video.jpg" alt="explore" class="imageTable"></center></td>
    <td>
    	<h2>Videography</h2>
    	<br> I've done some videoprojects, mostly just for fun.
    	<br>
    	<br> <a href="#video">Read more!</a>
    </td>
  </tr>




</table>
</center>
<div style="background-color:#78BBAC">
<div id = "explore">
	<h1> eXplore </h1>
<p>

<img src="kuvat/explore.jpg" alt="explore" class="imageTable">
<br><br>
This was a personal project, where I designed a visual layout for this example application. </p>
</div>
</div>
<div id = "jumppa">
	<h1> Workout Generator </h1>

	<img src="kuvat/jumppa.jpg" alt="jumppa" class="imageTable">
<br><br>
<p> Project for JavaScript course. The main idea of this tiny little app is to insert a workout movement and then the "generator" will give you the amount of reps. </p>

</div>


<div style="background-image:url(kuvat/Hexagons.jpg)">
<div id = "webdesign">
	<h1> Front-End development </h1>
<p>
	<img src="kuvat/nettisivu.jpg" alt="Front-End" class="imageTable">
<br><br>
	<img src="kuvat/malmi.jpg" alt="Front-End" class="imageTable">
<br><br>
My first web pages I have made when I was around 12 years old. It was a thing back then to every 12-year-old to have a virtual pets and sim-game stables. And I had many. If someone would have told me back then, that someday I could do web pages for living, I would have probably laughed.
<br><br>
I have always been quite organized person. Even when I made those sites years ago, the best thing was to make tables and lists to organize the information. I also enjoyed (and still do!) the visual possibilities, and how I could change the look of the whole site just by chancing the colour code with one letter or number.

 </p>

</div>
</div>

<div id = "photo">
	<h1> Photography</h1>
<p>
<br><br>
 </p>
<center>
	<table>
		<tr>
			<td width="35%">
					<img src="kuvat/p/0.jpg" class="imageTable">
			</td>
			<td width="60%">
					<img src="kuvat/p/22.jpg"  class="imageTable">
			</td>
		</tr>
		<tr>
			<td>
					<img src="kuvat/p/15.jpg" class="imageTable">
			</td>
			<td>
					<img src="kuvat/p/7.jpg" alt="Front-End" class="imageTable">
			</td>
		</tr>
				<tr>
			<td>
					<img src="kuvat/p/19.jpg" class="imageTable">
			</td>
			<td>
					<img src="kuvat/p/25.jpg" alt="Front-End" class="imageTable">
			</td>
		</tr>
		<tr>
			<td>
					<img src="kuvat/p/5.jpg" class="imageTable">
			</td>
			<td>
					<img src="kuvat/p/6.jpg" alt="Front-End" class="imageTable">
			</td>
		</tr>
		<tr>
			<td>
					<img src="kuvat/p/e6.jpg" class="imageTable">
			</td>
			<td>
					<img src="kuvat/p/l7.jpg" alt="Front-End" class="imageTable">
			</td>
		</tr>
				<tr>
			<td>
					<img src="kuvat/p/13.jpg" class="imageTable">
			</td>
			<td>
					<img src="kuvat/p/r3.jpg" alt="Front-End" class="imageTable">
			</td>
		</tr>
	</table>
</center>
</div>



<div id = "video">
	<h1> Videography</h1>
<p>
<br><br>
Most of my videography projects have been made just for fun, but because they are fun, I decided to share them! </p>
<center>
<br>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/FnMFJV_sKxo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/ikPlvegrT8Y?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/TJGh2ddP82k?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/i_uJCJJvifM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
<center>
</div>



<div style="background-image:url(kuvat/Hexagons.jpg)">
<div id = "cv">
<embed src="cv.pdf" width="100%" height="500"
 type='application/pdf'>
</div>
</div>
</body>
