<div style="background-color:#78BBAC">
<div id = "explore">
	<h1> eXplore </h1>
<p>

<img src="kuvat/explore.jpg" alt="explore" class="imageTable">
<br><br>
This was a personal project, where I designed a visual layout for this example application. </p>
</div>
</div>
<div style="background-color:#78BBAC">
<div id = "websites">
	<h1> Front-End development </h1>
<p>
My first web pages I have made when I was around 12 years old. It was a thing back then to every 12-year-old to have a virtual pets and sim-game stables. And I had many. If someone would have told me back then, that someday I could do web pages for living, I would have probably laughed.
<br><br>
I have always been quite organized person. Even when I made those sites years ago, the best thing was to make tables and lists to organize the information. I also enjoyed (and still do!) the visual possibilities, and how I could change the look of the whole site just by chancing the colour code with one letter or number.

 </p>

</div>
</div>
