
<br><br><br>
<div style="background-color:#78BBAC">
				<div id = "about">
					  <center><img src="kuvat/nuppu.png" alt="explore" class="imageFront"></center>
				<h1> Pepita Kautto </h1>
				<p>
					IT-Business student with a visual background.
					<br>pepita.kautto@gmail.com -
				<i> <a href="http://www.linkedin.com/in/pepita-kautto"> LinkedIn </a> -
			<a href="http://www.github.com/pepitak"> Github </a> </i>
			</p>
				<br>
			</div>
</div>
