<div id="about">
  <br><br><br>
  <center><img src="kuvat/nuppu.png" alt="explore" class="imageFront"></center>


  <h1> Pepita Kautto </h1>
  <p>
    IT-Business student from Laurea UAS with a visual background.
    <br>
    <i> <a href="http://www.linkedin.com/in/pepita-kautto"><i class="fab fa-linkedin"></i></a>
      <a href="http://www.github.com/pepitak"> <i class="fab fa-github"></i></a> </i>
    <center>
      <div class="box2">

        <h2>About me </h2>
        <br><br>
        Hei! Olen media-assistentiksi valokuvauslinjalta valmistunut melkein-ohjelmistokehittäjä, eli kolmannen
        vuoden tietojenkäsittelyn opiskelija Laurea-ammattikorkeakoulusta.
        <br><br>
        Lempikurssejani koulussa ovat olleet Web App -kehitys MEAN-stackillä, Javascript Frameworks, jolla tutustuttiin
        esimerkiksi React.js:ään sekä Vue:en ja PHP/SQL -kurssi. Parasta näissä oli se, että pääsi tosissaan ohjelmoimaan
        jotain uutta.
        <br><br>
        Olin myös osana kurssia, jolla matkustimme Coventryyn, Iso-Britanniaan, ja teimme IoT-projektin Coventry Universityn
        opiskelijoiden kanssa. Olin myös SuperAda -tapahtumassa edustamassa kouluani, ja kertomassa nuorille, IT-alasta
        kiinnostuneille tytöille, että ohjelmointi on kivaa!
        <br><br>
        <hr>
        <br> I have graduated as a media assistant majoring in Photography, and on the last
        few strikes on my journey to be a web developer. I'm currently studying Business IT at Laurea UAS.
        <br><br> My fave courses during this education
        have been Web App Development with MEAN, JavaScript Frameworks and PHP/SQL.
        <br><br>I was also a part of field trip course, where we did a collaborative
        IoT project with Coventry University in UK and got to reposed our school at SuperAda event,
        where I told young girls that programming is FUN!

  </p>
</div>

<br>
</div>
