<div id="about">

  <br><br><br>
  <h1>About me </h1>
  <div class="box2">


    <br><br>
    Hei! Olen media-assistentiksi valokuvauslinjalta valmistunut tuleva ohjelmistokehittäjä, eli kolmannen
    vuoden tietojenkäsittelyn opiskelija Laurea-ammattikorkeakoulusta.
    <br><br>
    Lempikurssejani koulussa ovat olleet Web App -kehitys MEAN-stackillä, Javascript Frameworks, jolla tutustuttiin
    esimerkiksi React.js:ään sekä Vue:en ja PHP/SQL -kurssi. Parasta näissä oli se, että pääsi tosissaan ohjelmoimaan
    jotain uutta.
    <br><br>
    Olin myös osana kurssia, jolla matkustimme Coventryyn, Iso-Britanniaan, ja teimme IoT-projektin Coventry Universityn
    opiskelijoiden kanssa. Olin myös SuperAda -tapahtumassa edustamassa kouluani, ja kertomassa nuorille, IT-alasta
    kiinnostuneille tytöille, että ohjelmointi on kivaa!
    <br><br>
    <hr>
    <br> I have graduated as a media assistant majoring in Photography, and on the last
    few strikes on my journey to be a web developer. I'm currently studying Business IT at Laurea UAS.
    <br><br> My fave courses during this education
    have been Web App Development with MEAN, JavaScript Frameworks and PHP/SQL.
    <br><br>I was also a part of field trip course, where we did a collaborative
    IoT project with Coventry University in UK and got to reposed our school at SuperAda event,
    where I told young girls that programming is FUN!

  </div>

  <br>
</div>
