<div id="about">
<br><br><br>
			<center><img src="kuvat/nuppu.png" alt="explore" class="imageFront"></center>


			<h1> Pepita Kautto </h1>
			<p>
				IT-Business student with a visual background.
				<br>pepita.kautto@gmail.com -
			<i> <a href="http://www.linkedin.com/in/pepita-kautto"> LinkedIn </a> -
		<a href="http://www.github.com/pepitak"> Github </a> </i>
		</p>
			<br>
</div>
