<div id="portfolio">
  <h1> Portfolio </h1>
  <p> </p>
</div>

<center>

  <table cellspacing=20>
     <tr>
      <td width="50%">
        <center><img src="kuvat/co2.jpg" alt="co2" class="imageTable"></center>
      </td>
      <td>
        <h2>Co2 / Population</h2>
        <br> Project made with ME*N and Charts.js
        <br> <a href="http://reaktorco2.herokuapp.com/">Check it out!</a>
        <br> <a href="https://github.com/PepitaK/co2">Github</a>
        <br> Data is stored in my cloud MongoDB -database.
      </td>
    </tr>
    <tr>
      <td>
        <h2>Parking App</h2>
        <br> Parking management web application for Laurea UAS using LAMP stack. The bilingual application allows users to mark available their parking spaces, and make reservations to free spots. Admin page includes a change to manage actions, add informational notes and edit user information.
      </td>
      <td>
        <center><img src="kuvat/parking.jpg" alt="parking" class="imageTable"></center>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <center><img src="kuvat/poniapi.jpg" alt="poniapi" class="imageTable"></center>
      </td>
      <td>
        <h2>MongoDB API</h2>
        <br> API made with MongoDB.
        <br> <a href="http://pepitak.herokuapp.com/">Check it out!</a>
        <br> <a href="https://github.com/PepitaK/MEAN-API">Github</a>
        <br><br> I've done the same project using Mongoose for the database querys. That version is not published in heroku, but it can bee seen in  <a href="https://github.com/PepitaK/Mongoose">Github</a>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Kissanaattori</h2>
        <br> Tiny React.js app made using CATAAS -API. It let's the users to compine their own messages with random pictures of cats. Color of the text can be changed!
        <br> <a href="http://kissanaattori.herokuapp.com/">Read more!</a>
        <br> <a href="https://github.com/PepitaK/Cat-Project">Github</a>
      </td>
      <td>
        <center><img src="kuvat/kissanaattori.jpg" alt="kissanaattori" class="imageTable"></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><img src="kuvat/nasa.jpg" alt="guessthetitle" class="imageTable"></center>
      </td>
      <td>
        <h2>Guess the Title!</h2>
        <br> Game-like app made with React.js, that uses NASAs API. It prints a picture and three title options. Player has to choose the correct one to gain points.
        <br> <a href="http://pepita.herokuapp.com/">Check it out!</a>
        <br> <a href="https://github.com/PepitaK/R0333-Project">Github</a>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Vitsiportaali</h2>
        <br>
        <br> MEAN -stack project that uses MongoDB database. Actions such as removing and editing messages included!
        <br> <a href="http://pepitakautto.herokuapp.com/">Read more!</a>

        <br> <a href="https://github.com/PepitaK/MEAN-R0314">Github</a>
      </td>
      <td>
        <center><img src="kuvat/vitsiportaali.jpg" alt="Vitsiportaali" class="imageTable"></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><img src="kuvat/explore1.jpg" alt="explore" class="imageTable"></center>
      </td>
      <td>
        <h2>eXplore visuals</h2>
        <br> Visuals for example application called eXplore.
        <br> Made with Sketch, 2018. <br>
        <br> <a href="#explore">Read more!</a>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Workout generator</h2>
        <br>My very first Javascript project. Made using JavaScript, HTML and CSS, 2017.
        <br> <br> <a href="#jumppa">Read more!</a>
      </td>
      <td>
        <center><img src="kuvat/jumppa1.jpg" alt="jumppa" class="imageTable"></center>
      </td>
    </tr>


    <tr>
      <td>
        <center><img src="kuvat/nettisivu1.jpg" alt="Front-End" class="imageTable"></center>
      </td>
      <td>
        <h2>Static websites</h2>
        <br>
        <br>
        <br> <a href="#websites">Read more!</a>
      </td>
    </tr>


    <tr>
      <td>
        <h2>Back-End Development</h2>
        <br> What comes to back-end, I have only worked with PHP and SQL.
        <br>
      </td>
      <td>
        <center><img src="kuvat/phpsql.jpg" alt="BackEnd" class="imageTable"></center>
      </td>
    </tr>



  </table>
</center>
