<div id="portfolio">
  <br><br><br>
  <h1> Portfolio </h1>
  <p> </p>
</div>

<center>
<div class="box">
  <div class="imageContainer"> <img src="kuvat/co2.JPG" alt="co2" class="image"></div>
  <h2>Co2 / Population <a href="https://github.com/PepitaK/co2"><i class="fab fa-github"></i></a></h2>
  <br> Project made with ME*N and Charts.js. Data is stored in my cloud MongoDB -database.
  <br> <a href="http://reaktorco2.herokuapp.com/">Check it out!</a>
  <br>
</div>
<div class="box2">
  <div class="imageContainer"> <img src="kuvat/parking.jpg" alt="Parking" class="image"></div>
  <h2>Parking App</h2>
  <br> Parking management web application for Laurea UAS using LAMP stack. The bilingual application allows users to mark available their parking spaces, and make reservations to free spots. Admin page includes a change to manage actions, add
  informational notes and edit user information.
</div>
<div class="box">
  <div class="imageContainer">  <img src="kuvat/poniapi.jpg" alt="poniapi" class="image"></div>
  <h2>MongoDB API <a href="https://github.com/PepitaK/MEAN-API"><i class="fab fa-github"></i></a></h2>
  <br> API made with MongoDB.
  <br> <a href="http://pepitak.herokuapp.com/">Check it out!</a>
  <br>
  <br><br> I've done the same project using Mongoose for the database query. That version is not published in heroku, but it can be seen in its own <a href="https://github.com/PepitaK/Mongoose">Github</a> repository.
</div>
<div class="box2">
  <div class="imageContainer">  <img src="kuvat/kissanaattori.jpg" alt="kissanaattori" class="image"></div>
  <h2>Kissanaattori  <a href="https://github.com/PepitaK/Cat-Project"><i class="fab fa-github"></i></a></h2>
  <br> Tiny React.js app made using CATAAS -API. It let's the users to combine their own messages with random pictures of cats. Color of the text can be changed!
  <br> <a href="http://kissanaattori.herokuapp.com/">Check it out!</a>
  <br>
</div>
<div class="box">
  <div class="imageContainer">  <img src="kuvat/nasa.jpg" alt="guessthetitle" class="image"></div>
  <h2>Guess the Title! <a href="https://github.com/PepitaK/R0333-Project"><i class="fab fa-github"></i></a></h2>
  <br> Game-like app made with React.js, that uses NASAs API. It prints a picture and three title options. Player has to choose the correct one to gain points.
  <br> <a href="http://pepita.herokuapp.com/">Check it out!</a>
  <br>
</div>
<div class="box2">
  <div class="imageContainer">  <img src="kuvat/vitsiportaali.jpg" alt="Vitsiportaali" class="image"></div>
  <h2>Vitsiportaali <a href="https://github.com/PepitaK/MEAN-R0314"><i class="fab fa-github"></i></a></h2>
  <br>
  <br> MEAN -stack project that uses MongoDB database. Actions such as removing and editing messages included!
  <br> <a href="http://pepitakautto.herokuapp.com/">Check it out!</a>
  <br>
</div>
<div class="box">
  <div class="imageContainer">  <img src="kuvat/explore1.jpg" alt="explore" class="image"></div>
  <h2>eXplore visuals</h2>
  <br> Visuals for example application called eXplore.
  <br> Made with Sketch, 2018. <br>
  <br> <img src="kuvat/explore.jpg" alt="explore" class="image" width="90%">
</div>
<div class="box2">
  <div class="imageContainer">  <img src="kuvat/jumppa1.jpg" alt="jumppa" class="image"></div>
  <h2>Workout generator</h2>
  <br>My very first Javascript project. It generates you a workout; insert the movement and the app gives you the reps to do! Made using JavaScript, HTML and CSS, 2017.
</div>
